/* ---( page defaults )--- */

body {
	background-image: url('/ifleet-mobile/Images/background.png');
	background-repeat: repeat-x;
	background-color: #e1e1e1;
	color: #333;
	font-family: arial;
	text-align: center;
}

h1 {
	color: #FFF;
	font-family: Georgia;
	font-size: 48pt;
	font-weight: normal;
	text-align: center;
}

img {
	border: 0px;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.all {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 900px;
}

.header {
	height: 64px;
	position: relative;
}

.app-store {
	position: relative;
	z-index: 2;
}

.title {
	position: relative;
	top: -114px;
	z-index: 1;
}

.icon {
	left: 650px;
	position: relative;
	top: -222px;
	width: 60px;
	z-index: 2;
}

.main {
	margin-top: 10px;
	min-height: 515px;
}

.description
{
	float: left;
	margin-right: 10px;
	width: 650px;
}

.description h2 {
	color: #333;
	font-family: arial;
	font-weight: normal;
	font-size: 16pt;
}

.iphone {
	background-image: url('/ifleet-mobile/Images/iphone.png');
	float: left;
	height: 524px;
	position: relative;
	width: 240px;
	z-index: 1;
}

.screen {
	height: 289px;
	left: 21px;
	position: relative;
	top: 97px;
	width: 201px;
	z-index: 2;
}

.footer {
	float: left;
	width: 100%;
}

.social-networks {
	margin: 10px 0 10px 0;
	text-align: center;
}

.social-networks img {
	padding: 0 20px 0 20px;
}

.copyright {
	color: #000;
	font-size: 8pt;
	text-align: center;
}

.copyright p {
	margin: 0px;
	padding: 0px;
}
