<section class="bg-dark text-light container-fluid" aria-label="About">
  <div class="container-xl mt-3">
    <div class="row">
      <div class="col">
        <img src="{{ "/assets/Logo-v2.png" | relative_url }}" alt="SPT Development Ltd logo" />
        <h3>About Us</h3>
        <p>We are software consultants with years of experience in the IT industry, designing, building and successfully delivering bespoke software solutions. We are passionate about technology, code and delivering high quality software to meet our customer's needs.</p>
      </div>
      <div class="col">
        <h4 class="mb-0">Simon Taylor</h4>
        <h5>Founder</h5>
        <p>Simon has considerable software development and technical architecture experience within integration, enterprise applications, public facing websites and mobile applications, as well as leading teams and mentoring other developers. This experience has been built up during a career that spans 20 years and across technologies such as C, Unix, Java (4 - 19), .NET and iOS. Currently Simon’s main technical focus is within the Java space, in particular Spring Boot and other Spring projects, but will also happily engage on projects utilizing other technologies such as Javascript, Python, .NET and iOS.</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid text-center" aria-label="Contact Us">
  <div class="container-xl mt-3">
     <h4>Contact Us</h4>
     <p>TODO</p>
  </div>
</section>
