<footer class="page-footer sticky-bottom">
    <section class="text-center social-networks">
        <!--<a href="http://www.facebook.com/sptdevltd" title="Join us on Facebook"><img alt="Join us on Facebook" src="{{ "/assets/facebook_logo.png" | relative_url }}"></a>-->
        <a href="http://twitter.com/sptdevltd" title="Follow us on Twitter"><img alt="Follow us on Twitter" src="{{ "/assets/twitter_logo.png" | relative_url }}"></a>
        <a href="http://www.linkedin.com/company/spt-development-ltd" title="Link to us on LinkedIn"><img alt="Link to us on LinkedIn" src="{{ "/assets/linkedin_logo.png" | relative_url }}"></a>
    </section>
    <section class="footer-copyright text-center">
        <p>&copy; SPT Development Ltd. All rights reserved.</p>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{{ "/assets/js/script.js" | relative_url }}" type="text/javascript"></script>
