<section class="bg-dark text-light container-fluid" aria-label="About">
  <div class="container-xl mt-3">
    <div class="row">
      <div class="mb-3 mb-lg-0 col-12 col-md-6 col-lg-4 order-1">
        <img loading="lazy" src="{{ "/assets/Logo-no-padding.png" | relative_url }}" class="mb-1" alt="SPT Development Ltd logo" />
	{%- include /leads/company-overview.html %}
        <!--<a href="{{ "/company-overview" | relative_url }}" title="Company Overview">
            Discover more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>-->
      </div>
      <div class="d-none d-lg-block col-lg-1 order-2"></div>
      <div class="col-6 col-lg-2 order-3 order-lg-3">
        <span class="fs-5 mb-0">Company</span>
        <ul class="list-group list-group-flush">
          <!--<li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/company-overview" | relative_url }}" title="About us">
              About us
            </a>
          </li>-->
          <!--<li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/team" | relative_url }}" title="The Team">
              The Team
            </a>
          </li>-->
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/software-consultancy" | relative_url }}" title="Consultancy">
              Consultancy
            </a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/opensource" | relative_url }}" title="Open Source">
              Open Source
            </a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/sustainability-statement" | relative_url }}" title="Sustainability">
              Sustainability
            </a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/blog" | relative_url }}" title="Blog">
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 order-4 order-lg-4">
        <span class="fs-5 mb-0">Support</span>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/contact-us" | relative_url }}" title="Contact Us">Contact Us</a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/cookies" | relative_url }}" title="Cookies">Cookies</a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="{{ "/privacy" | relative_url }}" title="Privacy">Privacy</a>
          </li>
          <li class="list-group-item px-0 pb-0 bg-dark">
            <a href="/sitemap.xml" title="Sitemap">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="mb-4 mb-lg-0 col-12 col-md-6 col-lg-3 order-2 order-lg-5">
        <span class="fs-5 mb-0">Meet Us</span>
        <p class="mt-1">Book a meeting now, to find out more about us and for us to find out a little about you.</p>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async="true"></script>
        <a href="#" class="calendly-widget-link" onclick="com.spt_development.initCalendlyPopup();return false;">Book Now</a>
        <!-- Calendly link widget end -->
      </div>
    </div>
  </div>
</section>
<footer class="bg-dark mt-auto container-fluid">
  <div class="container-xl">
    <div class="row align-items-end">
      <div class="col-4 col-md-3 col-lg-2 offset-4 offset-md-0">
        <a href="https://www.smallbusinesscommissioner.gov.uk/ppc/" target="_blank">
          {% if page.url == '/sitemap.xsl' %}
            <img class="w-100 my-3" src="{{ "/assets/images/PPC_logo_S.jpg" | relative_url }}" alt="Signatory to the PPC" />
          {% else %}
            {% picture jpt-webp /assets/images/PPC_logo_S.jpg --img class="w-100 my-3" loading="lazy" --alt Signatory to the PPC %}
          {% endif %}
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <section class="text-center mt-2">
          <a href="http://twitter.com/sptdevltd" title="Follow us on Twitter" class="text-light text-decoration-none mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" version="1.1">
              <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
            </svg>
          </a>
          <a href="http://www.linkedin.com/company/spt-development-ltd" title="Link to us on LinkedIn" class="text-light text-decoration-none mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
          </a>
          <a href="https://github.com/spt-development" title="Find us on GitHub" class="text-light text-decoration-none mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </section>
        <section class="footer-copyright text-light text-center">
          <p class="mt-2">&#169; {{ site.time | date: '%Y' }} SPT Development Ltd. All rights reserved.</p>
        </section>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
{% if page.cdn-scripts %}
  {% for cdn-script in page.cdn-scripts %}
    <script src="{{ cdn-script }}"></script>
  {% endfor %}
{% endif %}
<script src="{{ "/assets/js/script.js" | relative_url }}" type="text/javascript"></script>
{% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script | relative_url }}" type="text/javascript"></script>
  {% endfor %}
{% endif %}
<script id="dsq-count-scr" src="//https-spt-development-com.disqus.com/count.js" async="true"></script>
