/* 
 * @group general styles
 */
@font-face {
    font-family: "Museo Sans 500";
    src: url('../fonts/MuseoSans_500.eot');
    src: url('../fonts/MuseoSans_500.woff') format('woff'), url('../fonts/MuseoSans_500.ttf') format('truetype');
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #e9ecef !important;
}

a, p, li, h2, h3, h4, em, table, span {
    font-family: "Museo Sans 500", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    line-height: 1.3em;
}

a {
    color: #efd9a8;
    text-decoration: none;
}

a:hover {
    color: rgb(239 217 168 / 50%);
    text-decoration: underline;
}

.bg-dark {
    background-color: #000!important;
}

.text-light {
    color: #c0c0c0!important;
}

/* Fix for IE 11 */
.flex-grow-1 {
    flex-shrink: 0;
}

.sticky-bottom {
    flex-shrink: 0;
}

.widget {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 1em 0.75em;
    margin-bottom: 1.5em;
}

.widget h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.3em;
    float: left;
}

.widget img {
    float: right;
}

.widget .vcard, .widget ul, .widget p {
    clear: left;
}

.widget span, .widget a, .widget .tweet_list p {
    font-size: 10pt;
}

.widget span.n, .widget span.fn, .widget .adr span, .widget span.tel, .widget a.email {
    display: block;
}

.widget span.tel {
    margin-top: 0.6em;
}

.tweet_list p {
    margin: 0;
}

.tweet_list p.time {
    text-transform: uppercase;
    margin: 0.5em 0 1em 0;
}

.tweet_list p.time a {
    font-size: 8pt;
}

.social-networks img {
    padding: 0 2em;
}

.footer-copyright p {
    margin-top: 0.5em;
    font-size: 10pt;
}

code.highlighter-rouge {
    color: #757575!important;
}
