/* 
 * @group general styles
 */
@font-face {
    font-family: "Museo Sans 500";
    src: url('../fonts/MuseoSans_500.eot');
    src: url('../fonts/MuseoSans_500.woff') format('woff'), url('../fonts/MuseoSans_500.ttf') format('truetype');
}

body {
    font-size: 62.5%;
    color: #c0c0c0;
    background-color: #000;
    text-align: center;
}

a, p, li, h2, h3, h4, em, table, span {
    font-family: "Museo Sans 500", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    line-height: 1.3em;
}

a, p, li, table, span {
    font-size: 11pt;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

a {
    color: #efd9a8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 1em 0;
}

/*
 * @group page structure
 */
body>header, body>section, body>footer {
    width: 92em;
    max-width: 95%;
    min-width: 45em;
    margin: 0 auto;
    clear: both;
}	

body>header {
    overflow: hidden;
    position: relative;
}

body>section .primary {
    width: 70.82%;
    float: left;
    display: inline;
}

body>section .secondary {
    width: 27%;
    float: right;
    display: inline;
    margin-top: 2em;
}

/*
 * @group page components
 */
body>header, body>section, body>footer {
    text-align: left;
}

h1 {
    float: left;
    width: 9%;
}

h1 span {
    display: none;
}

h1 img {
    width: 100%;
    max-width: 80px;
    float: left;
    display: inline;
}

header>nav {
    width: 91%;
    float: right;
    display: inline;
    position: absolute;
    bottom: 1em;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    padding: 0.25em 0;
}

nav>ul>li {
    float: left;
    padding: 0 3em;
}

body>section>header {
    margin-top: 1em;
}

p.intro {
    font-size: 13pt;
}

p img {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.primary {
    text-align: justify;
}

.primary header {
    width: 137.5%;
}

.skills td {
    padding-right: 0.25em;
}

a.li-connect-link {
    cursor: context-menu;
}

.widget {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 1em 0.75em;
    margin-bottom: 1.5em;
}

.widget h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.3em;
    float: left;
}

.widget img {
    float: right;
}

.widget .vcard, .widget ul, .widget p {
    clear: left;
}

.widget span, .widget a, .widget .tweet_list p {
    font-size: 10pt;
}

.widget span.n, .widget span.fn, .widget .adr span, .widget span.tel, .widget a.email {
    display: block;
}

.widget span.tel {
    margin-top: 0.6em;
}

.tweet_list p {
    margin: 0;
}

.tweet_list p.time {
    text-transform: uppercase;
    margin: 0.5em 0 1em 0;
}

.tweet_list p.time a {
    font-size: 8pt;
}

body>footer {
    padding-top: 2em;
    text-align: center;
}

.social-networks img {
    padding: 0 2em;
}

.copyright p {
    margin-top: 0.5em;
    font-size: 10pt;
}

/*
 * @group overrides
 */
